.menu {
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
}

.menu__title {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  width: 845px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin-top: 24px;
  width: 845px;
  margin-bottom: 70px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
